.h1
{
    color: red;
    font-size: xx-large;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: blanchedalmond;
    text-align: center;
}

.h2
{
    color: red;
    font-size: xx-large;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: lightcyan;
    text-align: center;
}

.h3
{
    color: grey;
    font-size: large;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: underline;
    text-align: justify;
}

.h4
{
    color: grey;
    font-size: medium;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: underline;
    text-align: justify;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#tableth {
    text-align: left;
    background-color: darkgray;
    color: white;
}