.h1
{
    color: red;
    font-size: xx-large;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: blanchedalmond;
    text-align: center;
}

.h2
{
    color: red;
    font-size: xx-large;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: lightcyan;
    text-align: center;
}

.h3
{
    color: black;
    font-size: xx-large;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: underline;
    text-align: justify;
}

.h4
{
    color: black;
    font-size: x-large;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: underline;
    text-align: center;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#table tr:nth-child(even){background-color: #f2f2f2;}


#tableth {
    text-align: center;
    background-color: darkgray;
    color: black;
}

.empty_th{
    border: none ;
    border: transparent;
  
}

.div_step {
display: flex;
justify-content: center;
}

body {
    background-color: lightslategray;
  }